resource "aws_iam_policy_attachment" "{{ attachment_resouce_name }}" {
   name       = "{{ attachment_resouce_name }}"
  roles      = [aws_iam_role.{{ resource_reference }}.name]
  policy_arn = aws_iam_policy.{{ policy_arn }}.arn
}
